.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %h2.font-bold Bem vindo ao BAZICON
      %p O time de IM é muito legal.
      %p Problemas? Não consegue logar? Fale com o 
        %a{:href => 'mailto:marcus.carvalho@aiesec.net'} MC VP IM 15-16.
    .col-md-6
      .ibox-content
        %form.m-t{:action => login_path, :method => "post"}
          .form-group
            %input.form-control{:name => "email", :placeholder => "Email", :required => true, :type => "email"}
          .form-group
            %input.form-control{:name => "password", :placeholder => "Password", :required => true, :type => "password"}
          %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Entrar
  %hr
  .row
    .col-md-6
      %strong AIESEC no Brasil
    .col-md-6.text-right
      %small &copy; 1970-#{Time.new.year}