.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %h2.font-bold Bem vindo ao BAZICON
      %p O time de IM é muito legal.
    .col-md-6
      .ibox-content
        =form_tag login_path, class: "m-t" do
          .form-group
            =email_field_tag'email','', class: 'form-control', placeholder: 'Email'
          .form-group
            =password_field_tag 'password', '', class: 'form-control', placeholder: 'Senha'
          .form-group
            =button_tag("Entrar", type: 'submit', class: 'btn btn-primary block full-width m-b')
  %hr
  .row
    .col-md-6
      %strong AIESEC no Brasil
    .col-md-6.text-right
      %small &copy; 1970-#{Time.new.year}