/ Wrapper
#wrapper.top-navigation
  / Navigation
  %div{"ng-include" => "common/top_navigation.html'"}
  / Page wraper
  / ng-class with current state name give you the ability to extended customization your view
  #page-wrapper.gray-bg{:class => "{{$state.current.name}}"}
    / Main view
    %div{"ui-view" => ""}
    / Footer
    %div{"ng-include" => "common/footer.html'"}
  / End page wrapper
/ End wrapper