.row.border-bottom.white-bg
  %nav.navbar.navbar-static-top{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-reorder
      %a.navbar-brand{:href => "#"} Inspinia
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#", "ui-sref" => "layouts"} Back to main Layout page
        %li{"uib-dropdown" => ""}
          %a{:href => "", "uib-dropdown-toggle" => ""}
            Menu item
            %span.caret
          %ul{:role => "menu", "uib-dropdown-menu" => ""}
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
        %li{"uib-dropdown" => ""}
          %a{:href => "", "uib-dropdown-toggle" => ""}
            Menu item
            %span.caret
          %ul{:role => "menu", "uib-dropdown-menu" => ""}
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
        %li{"uib-dropdown" => ""}
          %a{:href => "", "uib-dropdown-toggle" => ""}
            Menu item
            %span.caret
          %ul{:role => "menu", "uib-dropdown-menu" => ""}
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
        %li{"uib-dropdown" => ""}
          %a{:href => "", "uib-dropdown-toggle" => ""}
            Menu item
            %span.caret
          %ul{:role => "menu", "uib-dropdown-menu" => ""}
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
            %li
              %a{:href => "#"} Menu item
      %ul.nav.navbar-top-links.navbar-right
        %li
          %a{:href => "login.html"}
            %i.fa.fa-sign-out
            Log out