/ Wrapper
#wrapper{:'ng-controller' => 'oGCDPController as ogx'}
	/ Navigation
	%div{:"ng-include" => "'common/_navigation.html'"}
	/ Page wraper
	/ ng-class with current state name give you the ability to extended customization your view
	#page-wrapper.gray-bg{:class => "{{$state.current.name}}"}       
		/ Page wrapper
		%div{"ng-include" => "'common/_topnavbar.html'"}
		/ Main view
		.row.wrapper.border-bottom.white-bg.page-heading
			.col-lg-9
				%h2 EPs GCDP
				%ol.breadcrumb
					%li
						%a{href: 'main_url'} Home
					%li.active
						%strong EPs GCDP
			.col-lg-3
				.ibox-content{:'ng-init' => 'get_lcs()',:style => 'border:no;'}
					%h3
						Comitê
					%select.form-control.m-b.required{:'ng-model' => 'selected_lc', :'ng-change' => 'list();load_analysis();', :'ng-options' => 'commettee.xp_name for commettee in commettees'}
		%br/
		.row
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-success.pull-right{:'ng-show' => 'analysis'} Annual
						%span.label.label-success.pull-right{:'ng-show' => '!analysis'} Loading
						%h5 Open
					.ibox-content{:'ng-show' => 'analysis'}
						%h1.no-margins {{analysis.total_open}}
						%small This month: {{analysis.month_open}}
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-info.pull-right Annual
						%h5 Applied
					.ibox-content
						%h1.no-margins {{analysis.total_applied}}
						%small This month: {{analysis.month_applied}}
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-success.pull-right Annual
						%h5 Accepted
					.ibox-content
						%h1.no-margins {{analysis.total_accepted}}
						%small This month: {{analysis.month_accepted}}
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-info.pull-right Annual
						%h5 Realized
					.ibox-content
						%h1.no-margins {{analysis.total_realized}}
						%small This month: {{analysis.month_realized}}
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-success.pull-right Annual
						%h5 Complete
					.ibox-content
						%h1.no-margins {{analysis.total_completed}}
						%small This month: {{analysis.month_completed}}
			.col-lg-2
				.ibox.float-e-margins
					.ibox-title
						%span.label.label-info.pull-right Annual
						%h5 Returnee
					.ibox-content
						%h1.no-margins {{analysis.total_returnee}}
						%small This month: {{analysis.month_returnee}}

		.wrapper.wrapper-content.animated.fadeInRight
			.row
				.col-sm-8
					.ibox
						.ibox-content
							.alert.alert-danger{:'ng-show' => 'error_msg'}
								Teve treta, tente recarregar para ver se resolve! Caso persista -> 
								%a.alert-link{:href => '', :target => '_blank'} vem aqui
							.text-muted.small.pull-right
								Última atualização com o EXPA:
								%i.fa.fa-clock-o 
								2:10 pm - 12.06.2014

							%h2 {{cf_step(status_filter)}}
							.btn-group
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'all'", :'ng-click' => 'list()',:'data-animation' => 'flash'}
									Todos
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'open'", :'ng-click' => 'list()'}
									Open
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'applied'", :'ng-click' => 'list()'}
									Applied
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'accepted'", :'ng-click' => 'list()'}
									Acepted
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'realizing'", :'ng-click' => 'list()'}
									Realizing
								%label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty.active.ng-valid-parse{:'ng-model' => 'status_filter', :'uib-btn-radio'=>"'completed'", :'ng-click' => 'list()'}
									Completed
							.btn-group.pull-right
								%label.btn.btn-primary{"ng-model" => "epi_filter", "uib-btn-checkbox" => "", :'ng-click' => 'list()'} EPI
								%label.btn.btn-primary{"ng-model" => "ops_filter", "uib-btn-checkbox" => "", :'ng-click' => 'list()'} OPS

							.clients-list
								%ul.nav
									%span.pull-right.strong.text-muted
										%b {{people.length}}
										EPs listados

								.tab-content
									.tab-pane.active{id:"tab-1"}
										.full-height-scroll{"full-scroll" => ""}
											.table-responsive{:'infinite-scroll' => 'list_more()', :'infinite-scroll-distance' => '2', :'infinite-scroll-disabled' => 'busy_scroll', :'infinite-scroll-parent' => 'true', :'infinite-scroll-immediate-check' => 'false'}
												%table.table.table-striped.table-hover
													.spiner-example{:'ng-show' => 'loading_list'}
														.sk-spinner.sk-spinner-three-bounce
															.sk-bounce1
															.sk-bounce2
															.sk-bounce3
													%tbody
														%tr.small.animated.bounceInDown{:'ng-show' => 'people.length == 0'}
															%td
																Ai meu pai, cadê meus EPs? D:
														%tr.small.animated.bounceInDown{:'ng-repeat' => 'ep in people'}
															%td.client-avatar
																%img{alt:"image",src:'{{ep.xp_profile_photo_url}}'}
															%td
																%a.client-link{href:'#contact',  :'data-toggle' => "tab", :'ng-click' => 'select_ep(ep)'}
																	{{ep.xp_full_name}}
															%td
																{{ep.product}}
															%td
																{{ep.xp_created_at | date : 'dd-MM-yyyy HH:mm'}}
															%td.client-status
																%span.label{class: 'label-{{status_color(ep.xp_status)}}'}
																	{{cf_step(ep.xp_status)}}
				.col-sm-4
					.ibox
						.ibox-content
							.spiner-example{:'ng-show' => 'loading_detail'}
								.sk-spinner.sk-spinner-three-bounce
									.sk-bounce1
									.sk-bounce2
									.sk-bounce3
							.tab-content.animated.bounceInRight{:'ng-show' => 'person == null'}
								#contact.tab-pane.active
									.row.m-b-l
										%center
											%h3 Quede EP?
							.tab-content.animated.bounceInRight
								#contact.tab-pane.active
									.row.m-b-lg
										.col-lg-4.text-center
											%h2.badge.badge-danger Prioritário
											.m-b-sm
												%img.img-circle{:alt => "image", :src => '{{person.xp_profile_photo_url}}', :style => "width: 62px"}
											.badge{class: 'label-{{status_color(person.xp_status)}}'} {{cf_step(person.xp_status)}}
										.col-lg-8
											%p
												%strong
													{{person.xp_full_name}}
											%p
												{{person.xp_birthday_date | date : 'dd-MM-yyyy'}}
											%p
												{{person.xp_email}}
											.btn-group
												%a.btn.btn-primary{:type => "button", :'tooltip-placement' => "bottom", :'uib-tooltip' => 'Go to EXPA',:href => 'https://experience.aiesec.org/#/people/{{person.xp_id}}', :target => '_blank'}
													%i.fa.fa-plane
												%button.btn.btn-primary{:type => "button", :'tooltip-placement' => "bottom", :'uib-tooltip' => 'Editar EP', :'ng-click' => 'open_edit_modal()'}
													%i.fa.fa-edit
												%button.btn.btn-primary.disabled{:type => "button", :'tooltip-placement' => "bottom", :'uib-tooltip' => 'Facebook do EP'}
													%i.fa.fa-facebook
									.client-detail
										.full-height-scroll{"full-scroll" => ""}
											%strong Principal info
											%ul.list-group.clear-list
												%li.list-group-item{:'ng-show' => 'no_personal_info(person)'}
													Sem nenhuma informação ainda
												%li.list-group-item.fist-item{:'ng-if' => 'person.product'}
													%span.pull-right {{person.product}}
													Interested Product
												%li.list-group-item{:'ng-if' => 'person.xp_contact_info'}
													%span.pull-right {{person.xp_contact_info}}
													Telefone
												%li.list-group-item{:'ng-if' => 'person.xp_address_info'}
													%span.pull-right {{person.xp_address_info}}
													Cidade
												%li.list-group-item{:'ng-if' => 'person.xp_home_lc_id'}
													%span.pull-right {{person.xp_home_lc_id}}
													Home LC
											%hr/
											%strong Activities
											%ul.list-group.clear-list
												%li.list-group-item.fist-item
													%span.pull-right {{person.xp_created_at}}
													Open
												%li.list-group-item{:'ng-if' => 'person.applied'}
													%span.pull-right {{person.applied}}
													Applied
												%li.list-group-item{:'ng-if' => 'person.accepted'}
													%span.pull-right {{person.accepted}}
													Accepted
												%li.list-group-item{:'ng-if' => 'person.realizing'}
													%span.pull-right {{person.realizing}}
													Realized
								
		/ Footer
		%div{"ng-include" => "'common/footer.html'"}
	/ End page wrapper
/ End wrapper