#myModal.modal.inmodal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %i.fa.fa-cloud-upload.modal-icon
        %h4.modal-title Upload de arquivo
      = form_tag({action: :upload}, {multipart: true}) do
        .modal-body
          .ibox-content
            .form-group
              =file_field_tag 'file',:style => "width:100%",:class =>"btn-file btn-success btn", :required => "true"
              -if @user.get_role != ExpaPerson.roles[:role_other]
                %br
                %label Permissão do arquivo
                %button.btn-help{"data-toggle" => "tooltip", "data-placement" => "top", :title => "Arquivos privados são referentes aos arquivos do seu comitê local, enquanto arquivos públicos podem ser vistos por todos os membros da @BAZI",:disabled => true}
                  %i.fa.fa-question
                %br
                %label.control-label{:style => "width:100%;"}
                  .i-checks{:style => "width:50%;float:left;margin-left:auto;margin-right:auto;" }
                    =radio_button_tag "is_private",false, true
                    =label_tag "Público"
                  .i-checks{:style => "width:50%;float:right;margin-left:auto;margin-right:auto;" }
                    =radio_button_tag  "is_private",true
                    =label_tag "Privado"
              %label Tags relacionadas ao arquivo
              .input-group{:style => "width:100%;"}
              %select.chosen-select{ "name" =>"tags[]", "data-placeholder" => "Escolha uma tag para o arquivo", :multiple => "multiple", :style => "width:'100%';", :tabindex => "4"}
                - Tag.all.each do |tag|
                  %option{:value => tag.id}=tag.name
        .modal-footer.progress-demo
          //=submit_tag "Enviar arquivo", :id => "submit_button", :class =>"ladda-button btn btn-primary", "data-style"=> "contract", :onclick => ""
          %button{:type => "submit", :class => "btn btn-primary ladda-button", "data-style" => "contract"}
            %span.ladda-label Enviar
:javascript
    $(function() {

      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green',
      });

      $('.ladda-button').ladda('bind');
      Ladda.bind('.progress-demo .ladda-button', {
        callback: function( instance ) {
          // HIDE CLOSE MODAL BUTTON WHILST LOADING
          document.getElementsByClassName('close')[0].hidden = true;
          var progress = 0;
          var interval = setInterval( function(){
            progress = Math.min( progress + Math.random() * 0.1, 1 );
            instance.setProgress( progress );

            if( progress === 1 ){
              instance.stop();
              clearInterval( interval );
            }
          }, 18000 );
        }
      });

    });

    $(function() {
      var config = {
          '.chosen-select': {},
          '.chosen-select-deselect': { allow_single_deselect: true },
          '.chosen-select-no-single': { disable_search_threshold: 10 },
          '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
          '.chosen-select-width': { width: "95%" }
      }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }
    });




