.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Gavetão
    %ol.breadcrumb
      %li
        %a{href: main_url} Home
      %li.active
        %strong Gavetão

.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content
          .file-manager
            %div{style: "display:block"}
              %form.pull-left.mail-search{:action => archives_show_path, :method => "get", :id => "search-form"}
                .input-group
                  %input.form-control.input-sm{:name => "pesquisa", :placeholder => "Digite o nome do arquivo", :type => "text"}
                    .input-group-btn
                      %button.btn.btn-sm.btn-primary{:type => "submit"}
                        Pesquisar
            %br
            %br
            .hr-line-dashed
            %h5 Apresentar
            %a.file-control.active{href: "#"}Todos
            %a.file-control{href: "#"}PDF
            %a.file-control{href: "#"}Word
            %a.file-control{href: "#"}Excel
            %a.file-control{href: "#"}PPT
            %a.file-control{href: "#"}Imagens
            %a.file-control{href: "#"}Áudio (Roll Call)
            %a.file-control{href: "#"}Vídeos
            %a.file-control{href: "#"}Outros
            .hr-line-dashed
            %button.btn.btn-primary.btn-block{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}Upload
            .hr-line-dashed
            %h5 Filtros
            = form_tag({action: :show},{onsubmit: "checkSelectedTag()",method: "get", id: "filter"}) do
              .checkbox.checkbox-primary
                %input{type: "checkbox",name: "show_private", id: "showPrivate", value:true}
                %label{for:"showPrivate"}
                  Documentos privados
                %input{type: "checkbox",name: "show_public", id: "showPublic", value:true}
                %label{for: "showPublic"}
                  Documentos públicos
              %h5.tag-title Tags
              %input{type: "hidden", name: "tags", id: "tags"}
              -hidden_field(:permissao,"todos")
              %ul.tag-list{style: "padding: 0"}
                - Tag.all.each do |tag|
                  %li
                  %button.btn.btn-default.select-button{onclick:"buttonSelected(event)", value: tag.id, :type => "button"}= tag.name
              .clearfix
              %button.btn.btn-default.btn-block{type: "submit()"} Filtrar

    .col-lg-9.animated.fadeInRight

      .row
        .col-lg-12
          %div{id:"files"}
            = render 'files'
    %div{style:"float:right;"}
      = will_paginate @archives


:javascript


    $(function() {
      var config = {
          '.chosen-select': {},
          '.chosen-select-deselect': { allow_single_deselect: true },
          '.chosen-select-no-single': { disable_search_threshold: 10 },
          '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
          '.chosen-select-width': { width: "95%" }
      }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }


    });
    function closeModal(){
        $('#myModal').modal('hide');
      }

    $(function() {
      $("#search_form input").keyup(function() {
        $.get($("#search_form").attr("show"), $("#search_form").serialize(), null, "script");
        return false;
      });

      $("#button-right").onclick(function() {
        $.get($("#button-right").attr("show"), $("#button-right").serialize(), null, "script");
        return false;
      });
    });
