.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Gavetão
    %ol.breadcrumb
      %li
        %a{href: main_url} Home
      %li.active
        %strong Gavetão

.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content
          .file-manager
            %div{style: "display:block"}
              %form.pull-right.mail-search{:action => "", :method => "get"}
                .input-group
                  %input.form-control.input-sm{:name => "search", :placeholder => "Digite o nome do arquivo", :type => "text"}
                    .input-group-btn
                      %button.btn.btn-sm.btn-primary{:type => "submit"}
                        Pesquisar
            %br
            %br
            .hr-line-dashed
            %h5 Apresentar
            %a.file-control.active{href: "#"}Todos
            %a.file-control{href: "#"}PDF
            %a.file-control{href: "#"}Word
            %a.file-control{href: "#"}Excel
            %a.file-control{href: "#"}PPT
            %a.file-control{href: "#"}Imagens
            %a.file-control{href: "#"}Áudio (Roll Call)
            %a.file-control{href: "#"}Vídeos
            %a.file-control{href: "#"}Outros
            .hr-line-dashed
            %h5 Filtros
            %ul.folder-list{style: "padding: 0"}
              %li
                %a{href: archives_show_path(:permissao => "publico")}
                  %i.fa.fa-star
                  Público
              %li
                %a{href: archives_show_path(:permissao => "privado")}
                  %i.fa.fa-star-o
                  Privado
              %li
                %a{href: archives_show_path(:permissao => "todos")}
                  %i.fa.fa-star-half
                  Público e Privado
            %h5.tag-title
              Tags
              = form_tag({action: :show},{onsubmit: "checkSelectedTag()",method: "get"}) do
                %input{type: "hidden", name: "tags", id: "tags"}
                -hidden_field(:permissao,"todos")
                %ul.tag-list{style: "padding: 0"}
                  - Tag.all.each do |tag|
                    %li
                    %button.btn.btn-default.select-button{onclick:"buttonSelected(event)", value: tag.id, :type => "button"}= tag.name
                %button.btn.btn-default.btn-block{type: "submit()"} Filtrar
            %button.btn.btn-primary.btn-block{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}Upload
            #myModal.modal.inmodal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content.animated.bounceInRight
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %i.fa.fa-cloud-upload.modal-icon
                    %h4.modal-title Upload de arquivos
                  .modal-body
                    .ibox-content
                      = form_tag({action: :upload}, {multipart: true}) do
                        .form-group
                          =file_field_tag 'file',:style => "width:100%",:class =>"btn btn-success"
                          -if @user.get_role != ExpaPerson.roles[:role_other]
                            %br
                            %label Permissão do arquivo
                            %br
                            %label.control-label{:style => "width:100%;"}
                              .i-checks{:style => "width:50%;float:left;margin-left:auto;margin-right:auto;" }
                                =radio_button_tag "is_private",false
                                =label_tag "Público"
                              .i-checks{:style => "width:50%;float:right;margin-left:auto;margin-right:auto;" }
                                =radio_button_tag  "is_private",true
                                =label_tag "Privado"
                          %label.font-noraml{:style => "width:100%;"} Tags relacionadas ao arquivo
                          .input-group{:style => "width:100%;"}
                            %select.chosen-select{ "name" =>"tags[]", "data-placeholder" => "Escolha uma tag para o arquivo", :multiple => "multiple", :style => "width:'100%';", :tabindex => "4"}
                              - Tag.all.each do |tag|
                                %option{:value => tag.id}=tag.name
                        =submit_tag "Enviar arquivo", :class =>"btn btn-success", :style => "margin-top:5%;float:right;", :onclick => "closeModal()"
                  .modal-footer
    .col-lg-9.animated.fadeInRight
      .row
        .col-lg-12
          .div{id: "files"}
            = render 'files'
#edit-modal.modal.fade



:javascript
    $(function() {

      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green',
      });

    });

    $(function() {
      var config = {
          '.chosen-select': {},
          '.chosen-select-deselect': { allow_single_deselect: true },
          '.chosen-select-no-single': { disable_search_threshold: 10 },
          '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
          '.chosen-select-width': { width: "95%" }
      }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }


    });
    function closeModal(){
        $('#myModal').modal('hide');
      }