-if flash[:notice]
  - if flash[:color]=="invalid"
    %span{class: "alert alert-danger alert-dismissable", style:"display: block;"}
      = flash[:notice]
  - elsif flash[:color]=="success"
    %span{class: "alert alert-success alert-dismissable",style:"display: block;"}
      %i{ class:"fa fa-check" }
      = flash[:notice]
.ibox-content
  %h1 Envie um Feedback sobre o BAZICON para o time de IM!
  %br
  = form_tag({action: :send_feedback}) do
    .form-group
      %label.col-sm-2.control-label Nome
      .col-sm-10
        %input.form-control{:type => "text", :name => "name"}
        %br
    .form-group
      %label.col-sm-2.control-label E-mail
      .col-sm-10
        %input.form-control{:type => "text", :name => "email"}
        %br
    .form-group
      %label.col-sm-2.control-label Tópico
      .col-sm-10
        %select.form-control.m-b{:name => "topic"}
          %option Geral
          %option Módulo de OGX
          %option Gavetão
          %option Módulo de Host
          %option Módulo de Membresia
        %br
    .form-group
      %label.col-sm-2.control-label Descrição
      .col-sm-10
        %textarea.form-control{:type => "text",:name => "description"}
        %br
        %br

    .form-group
      %button.btn.btn-primary{:type => "submit", style: "width: 97%; margin-left: auto;margin-right: auto;display: block;"} Enviar