//= require chosen.min.css
//= require forms.css

.select-button{

}

.selected-button-selected{

}
.clearfix {
  margin-bottom: 15px;
}

.button-section {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.button-section .buttons {
  margin: 0 auto;
  vertical-align: middle;
}
.buttons {
  display: none;
}
.button-section:hover .buttons {
  display: block;
}

.image {
  position: absolute;
  z-index: 0;
}
.icon-thumbnail {
  display: inline-block;
  font: normal normal normal 62px/1 FontAwesome;
  font-size: 62;
  text-rendering: auto;
  vertical-align: middle;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  width: 198px;
  line-height: 1.6;
}
