//= require commerce.css
//= require forms.css
//= require chosen.min.css

select-button{

}

selected-button-selected{
  background-color : #007ff1;
}
.clearfix {
  margin-bottom: 15px;
}

.button-section {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.button-section .buttons {
  margin: 0 auto;
  vertical-align: middle;
}
.buttons {
  display: none;
}
.button-section:hover .buttons {
  display: block;
}

.image {
  position: absolute;
  z-index: 0;
}
