//= require commerce.css
//= require chosen.min.css
//= require forms.css
//= require ladda/ladda-themeless.min.css

.select-button{
  font-size: 10px;
  padding: 5px 12px;
  color: inherit;
  background-color: #f3f3f4;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

.select-button-selected{
  font-size: 10px;
  padding: 5px 12px;
  color: #ffffff;
  background-color: #ffc845;
  border-radius: 2px;
  border: 1px solid #ffc845;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}
.clearfix {
  margin-bottom: 15px;
}

.button-section {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.button-section .buttons {
  margin: 0 auto;
  vertical-align: middle;
}
.buttons {
  display: none;
}
.button-section:hover .buttons {
  display: block;
}

.image {
  position: absolute;
  z-index: 0;
}
.icon-thumbnail {
  display: inline-block;
  font: normal normal normal 62px/1 FontAwesome;
  font-size: 62;
  text-rendering: auto;
  vertical-align: middle;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  width: 198px;
  line-height: 1.6;
}

.iradio_square-green {
  margin-right: 10px;
}
