// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-link {
  color: #000;
}

.table-link:hover {
  color: #000;
}

.paddin-0 {
  padding: 0;
}
