%nav.navbar-default.navbar-static-side{"role" => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %span
            %img.img-circle{"alt" => "profile picture", "src" => "https://scontent-grt2-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11012975_10153239647564758_7293399361939455419_n.jpg?oh=03d2f8ff6033a11e43405d5c2bfb67c0&oe=57B7CC3B", "id" => "profile_photo"}
          %span.clear
            %span.block.m-t-xs
              %p#user-name
                Luan Corumba
            %span.text-muted.text-xs.block
              luan.corumba

      %li{"class" => ""}
        %a{:href => '/main/#/'}
          %i.fa.fa-dashboard
          %span.nav-label{"data-i18n" => "nav.main"}
            Dashboard
      %li{"class" => ""}
        %a{:href => '/main/#/ogv'}
          %i.fa.fa-paper-plane
          %span.nav-label{"data-i18n" => "nav.outgoing_exchange"}
            OGX GV
      %li{"class" => ""}
        %a{:href => '/main/#/ogt'}
          %i.fa.fa-paper-plane
          %span.nav-label{"data-i18n" => "nav.outgoing_exchange"}
            OGX GT
      %li{"class" => ""}
        %a{:href => '/main/#/teams'}
          %i.fa.fa-users
          %span.nav-label{"data-i18n" => "nav.tm"}
            Membresia
      %li{"class" => ""}
        %a{:href => '/main/#/hosts'}
          %i.fa.fa-leaf
          %span.nav-label{"data-i18n" => "nav.host"}
            Host
      %li{"class" => ""}
        %a{:href => '/main/#/files'}
          %i.fa.fa-files-o
          %span.nav-label{"data-i18n" => "nav.archives"}
            Gavetão
      %li.landing_link
        %a{:href => 'http://www.aiesec.org.br', :target => "_blank"}
          %i.fa.fa-star
          %span.nav-label{"data-i18n" => "nav.landing"}
            Site AIESEC in Brasil
