.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 OGX
    %ol.breadcrumb
      %li
        %a{href: main_url} Home
      %li.active
        %strong Análise
      %li
        %a{href: outgoing_exchange_list_url} Gestão