.row.border-bottom
  %nav.navbar.navbar-static-top{"role" => "navigation", "style" => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{"href" => "#"}
        %i.fa.fa-bars
      %form.navbar-form-custom{"role" => "search", "method" => "post", "action" => ""}
        .form-group
          %input.form-control#top-search{"placeholder" => "Procure por arquivos...", "name" => "top-search"}
    %ul.nav.navbar-top-links.navbar-right
      %li
        %span.m-r-sm.text-muted.welcome-message{"data-i18n" => "topnav.welcometext"}Bem vindo ao BAZICON. Feedbacks e Sugestões? Fale com o time de IM.
      %li
        %a{"href" => "#{url_for :controller => 'sessions', :action => 'logout'}"}
          %i.fa.fa-sign-out
          Logout